* {
    box-sizing: border-box;
}
.container { 
    font-family: "Times New Roman", Times, serif;
}
.menu-text {
    color: white !important;
}
.m0{
    margin:0;
}
img{
    width:100%;
}
.footer{
    background-color: #181818;
    padding: 10px;
    color: white;
}