* {
    box-sizing: border-box;
}
.container {
    font-family: "Times New Roman", Times, serif;
}
.header {
    background-color: #D3E3E3;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
img{
    width:100%;
}
.main p{
    text-align: justify;
}
h1 {
    text-align: center;
}
.footer{
    background-color: #181818;
    padding: 10px;
    color: white;
}
.footer h1{
    text-align: left;
}