*{
    box-sizing: border-box;
}
.cointainer {
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}
.header {
    background-color: #D3E3E3;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.main{
    width:800px;
    margin:auto;
}
h1 {
    text-align: center;
    padding: 10px;
}
p{
    padding:10px;
}
.footer{
    background-color: #181818;
    padding: 10px;
    color: white;
}
.footer p,h1{
    padding:0;
    text-align: left;
}