* {
    box-sizing: border-box;
}
.cointainer {
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}
.header {
    background-color: #D3E3E3;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.main{
    width: 800px;
    margin: auto;
}
.footer{
    background-color: #181818;
    padding: 10px;
    color: white;
}

