* {
    box-sizing: border-box;
}
.cointainer {
    margin: auto;
    width: 1080px;
}
.header {
    background-color: #D3E3E3;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}
.main{
    width: 600px;
    margin: auto;
}
.main img{
    width:600px;
}
.footer{
    margin:10px;
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 10px;
    clear: both;
}
.footer1 {
    width:50%;
}
.footer2{
    width:50%;
}